/* -Rewiews- */

.section__rewiews {
    padding: 80px 0;
    .rewiews__slider {
        position: relative;
        &-item {
            padding-left: 65px;
            display: flex !important;
        }
        .slider-item {
            &__name {
                font-family: $font-muller-medium;
                font-size: 18px;
                .surname-bold {
                    font-family: $font-muller-bold;
                }
            }
            &__social {
                color: #c94410;
                font-family: $font-muller-light;
                font-size: 12px;
                text-decoration: underline;
                padding: 5px 0 15px 0;
                display: block;
            }
            &__text {
                color: #393939;
                font-style: italic;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
            }
        }
    }
}

/* Стилизация Slick Slider для Rewiews */
.rewiews__slider {
    .slick-arrow {
        width: 16px;
        height: 25px;
        position: absolute;
        top: 45%;
        background-color: $white;
        font-size: 0;
        margin-top: -13px;
        &.slick-prev {
            background-image: url(../img/arrows/arrow-left.svg);
            background-repeat: no-repeat;
            left: -30px;
        }
        &.slick-next {
            background-image: url(../img/arrows/arrow-right.svg);
            background-repeat: no-repeat;
            right: -30px;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        li {
            margin: 47px 10px 0;
            &.slick-active button {
                width: 10px;
                height: 10px;
                border: 2px solid $grey;
                background-color: transparent;
            }
        }
        button {
            font-size: 0;
            width: 6px;
            height: 6px;
            background-color: $grey;
            border-radius: 25px;
        }
    }
}

/* --Rewiews-- */