<section class="section__ayurveda">
    <div class="container">
        <div class="row justify-content-center ayurveda__whatis">
            <h3 class="ayurveda__title title">Что такое аюрведа?</h3>
            <div class="col-lg-12 col-md-8 ayurveda__text">
                <p>
                    Аюрведа - это древнейшая медицинская наука в мире, колоссальная технология восстановления сил,
                    красоты и
                    здоровья. Она зародилась на юге Индии 5000 лет назад и сейчас широко распространилась
                    по миру. <br><br>

                    Аюрведа в последнее время стремительно набирает популярность в России и во всем мире.
                    Аюрведа лечит весь организм в целом, восстанавливает нарушенный баланс между его частями, удаляя
                    саму
                    причину болезни. Цель аюрведического метода лечения - укрепление иммунной системы организма,
                    профилактика и лечение заболеваний с помощью натуральных лекарств, не имеющих побочных эффектов.
                </p>
            </div>
        </div>
        <div class="row justify-content-center ayurveda__programs">
            <h2 class="ayurveda__programs-title">Программа аюрведы на 5 дней, 7 дней или 12 дней:</h2>
            <div class="col-lg-8 col-md-10 ayurveda__programs-items">
                <div class="ayurveda__programs-item">
                    <img src="assets/img/ayurveda/ayurveda-01.png" alt="1" class="ayurveda__img">
                    <p class="ayurveda__text">
                        индивидуальная консультация врача-аювредиста
                        с переводом на русский язык,индивидуальное
                        наблюдение за курсом лечения врачом-аюрведистом
                    </p>
                </div>
                <div class="ayurveda__programs-item">
                    <img src="assets/img/ayurveda/ayurveda-02.png" alt="2" class="ayurveda__img">
                    <p class="ayurveda__text">
                        масляный массаж всего тела ежедневно (60 минут) в 2 руки или в 4 руки
                    </p>
                </div>
                <div class="ayurveda__programs-item">
                    <img src="assets/img/ayurveda/ayurveda-03.png" alt="3" class="ayurveda__img">
                    <p class="ayurveda__text">
                        две аюрведические процедуры ежедневно по Вашему индивидуальному курсу лечения
                    </p>
                </div>
                <div class="ayurveda__programs-item">
                    <img src="assets/img/ayurveda/ayurveda-04.png" alt="4" class="ayurveda__img">
                    <p class="ayurveda__text">
                        все медицинские препараты и масла в ходе процедур, одежда для процедур
                    </p>
                </div>
                <div class="ayurveda__programs-item">
                    <img src="assets/img/ayurveda/ayurveda-05.png" alt="5" class="ayurveda__img">
                    <p class="ayurveda__text">
                        итоговая консультация врача-аюрведиста с планом продолжения приема препаратов дома, рекомендаций по диете
                    </p>
                </div>
            </div>
        </div>
        <div class="row ayurveda__center">
            <div class="col-lg-7 ayurveda__box">
                <img src="assets/img/ayurveda/01.png" alt="1" class="ayurveda__img">
                <img src="assets/img/ayurveda/02.png" alt="2" class="ayurveda__img">
                <img src="assets/img/ayurveda/03.png" alt="3" class="ayurveda__img">
                <img src="assets/img/ayurveda/04.png" alt="4" class="ayurveda__img">
                <img src="assets/img/ayurveda/05.png" alt="5" class="ayurveda__img">
                <img src="assets/img/ayurveda/06.png" alt="6" class="ayurveda__img">
                <img src="assets/img/ayurveda/07.png" alt="7" class="ayurveda__img">
                <img src="assets/img/ayurveda/08.png" alt="8" class="ayurveda__img">
                <img src="assets/img/ayurveda/09.png" alt="9" class="ayurveda__img">
                <img src="assets/img/ayurveda/10.png" alt="10" class="ayurveda__img">
                <img src="assets/img/ayurveda/11.png" alt="11" class="ayurveda__img">
                <img src="assets/img/ayurveda/12.png" alt="12" class="ayurveda__img">
            </div>
            <div class="col-lg-5 ayurveda__box">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-6 ayurveda__box-top">
                        <h3 class="ayurveda__title">Аюрведический центр</h3>
                        <span class="ayurveda__subtitle">Индия, штат Керала, город Варкала</span>
                        <div class="ayurveda__desc">
                            <p>
                                Мы будем жить не просто в отеле, а в специализированном аюрведическом центре «Алисера». Здесь все проходят лечение или занимаются йогой – это тихое и закрытое для посторонних отдыхающих людей местечко. <br><br>
    
                                Центр находится на первой пляжной линии в зеленом и спокойном месте, поодаль от шумных баров и магазинов. <br><br>
    
                                Этот аюрведический центр уже 5 лет администрируют русские специалисты - это значит, что они стараются обеспечить сервис на уровне, привычном русскому туристу. Вас не шокирует грязь и антисанитария Индии, которой многие боятся, не будет недопониманий с персоналом, еда будет адаптирована для привычного вкуса русского туриста и т.д. В центре постоянно есть переводчик с английского на русский язык. Отдыхают здесь в основном гости из России – поэтому всегда можно найти интересное общение, если вы приехали один или маленькой компанией. 
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-5 ayurveda__box-bottom">
                        <ul class="ayurveda__list">
                            <li class="ayurveda__list-item">комнаты категории «стандарт» и «повышенной комфортности» с санузлом и горячей водой</li>
                            <li class="ayurveda__list-item">собственная территория с пальмами, гамаками и зонами для отдыха</li>
                            <li class="ayurveda__list-item">бассейн</li>
                            <li class="ayurveda__list-item">крытый зал для йоги</li>
                            <li class="ayurveda__list-item">вегетарианское аюрведическое кафе</li>
                            <li class="ayurveda__list-item">аюрведические кабинеты</li>
                            <li class="ayurveda__list-item">собственный пляж</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /.section__ayurveda -->