<section class="section__cause">
    <div class="container">
        <h3 class="cause__title title">
            5 причин поехать в йога-тур
        </h3>
        <div class="cause__features">
            <div class="row no-gutters justify-content-center">
                <div class="cause__box col-6 col-md-6 col-lg-4">
                    <div class="cause__img">
                        <img src="assets/img/cause/cause-01.png" alt="Картинка 1">
                    </div>
                    <p class="cause__desc">
                        Провести отпуск нестандартно и интересно
                    </p>
                </div>
                <div class="cause__box col-6 col-md-6 col-lg-4">
                    <div class="cause__img">
                        <img src="assets/img/cause/cause-02.png" alt="Картинка 2">
                    </div>
                    <p class="cause__desc">
                        Погрузиться в культуру Индии и узнать страну изнутри
                    </p>
                </div>
                <div class="cause__box col-6 col-md-6 col-lg-4">
                    <div class="cause__img">
                        <img src="assets/img/cause/cause-03.png" alt="Картинка 3">
                    </div>
                    <p class="cause__desc">
                        Улучшить здоровье
                    </p>
                </div>
                <div class="cause__box col-6 col-md-6 col-lg-4">
                    <div class="cause__img">
                        <img src="assets/img/cause/cause-04.png" alt="Картинка 4">
                    </div>
                    <p class="cause__desc">
                        Избавиться от стрессов и «перезагрузиться»
                    </p>
                </div>
                <div class="cause__box col-6 col-md-6 col-lg-4">
                    <div class="cause__img">
                        <img src="assets/img/cause/cause-05.png" alt="Картинка 5">
                    </div>
                    <p class="cause__desc">
                        Отдохнуть в хорошей компании, найти единомышленников
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /.section__cause -->