<section class="section__chooseus">
    <div class="container">
        <h3 class="chooseus__title title">Почему 1620 туристов выбрали нас</h3>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-6 chooseus__item">
                <img src="assets/img/choose-us/choose-01.png" alt="01" class="chooseus__item-img">
                <h3 class="chooseus__item-title">Опыт</h3>
                <p class="chooseus__item-text">
                    За 5 лет работы мы открыли 
                    мир йоги для более чем 
                    1620 туристов
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-6 chooseus__item">
                <img src="assets/img/choose-us/choose-02.png" alt="02" class="chooseus__item-img">
                <h3 class="chooseus__item-title">С нами спокойно</h3>
                <p class="chooseus__item-text">
                    Русскоговорящее 
                    сопровождение – 
                    инструктор и переводчик 
                    будет с вами в течении всего тура
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-6 chooseus__item">
                <img src="assets/img/choose-us/choose-03.png" alt="03" class="chooseus__item-img">
                <h3 class="chooseus__item-title">Мы&nbsp;—&nbsp;профессионалы</h3>
                <p class="chooseus__item-text">
                    Мы — самая большая 
                    компания в России, 
                    которая занимается 
                    исключительно йога&nbsp;-&nbsp;турами
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-6 chooseus__item">
                <img src="assets/img/choose-us/choose-04.png" alt="04" class="chooseus__item-img">
                <h3 class="chooseus__item-title">С нами выгодно</h3>
                <p class="chooseus__item-text">
                    Наш принцип – делать 
                    цены на йога-туры 
                    доступными для всех
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-6 chooseus__item">
                <img src="assets/img/choose-us/choose-05.png" alt="05" class="chooseus__item-img">
                <h3 class="chooseus__item-title">С нами безопасно</h3>
                <p class="chooseus__item-text">
                    Вы получаете весь пакет 
                    официальных 
                    туристических документов
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-6 chooseus__item">
                <img src="assets/img/choose-us/choose-06.png" alt="06" class="chooseus__item-img">
                <h3 class="chooseus__item-title">С нами удобно</h3>
                <p class="chooseus__item-text">
                    Мы поможем забронировать 
                    авиа-билеты
                    и оформить визу
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.section__chooseus -->