<section class="section__contacts">
    <div class="container">
        <h3 class="contacts__title">Контакты</h3>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-6 contacts__social">
                <h3>Мы в социальных сетях:</h3>
                <ul>
                    <li class="contacts__social-item">
                        <a href="#">
                            <i class="fab fa-vk"></i>
                        </a>
                    </li>
                    <li class="contacts__social-item">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="contacts__social-item">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-1 col-6">
                <h3>Телефон:</h3>
                <div class="contacts__tel">
                    Звонки со всех номеров РФ бесплатно 
                    <a href="tel:+88005053587" class="contacts__tel-link">8 800 505 35 87</a>
                </div>
            </div>
        </div>
        <div class="contacts__offices">
            <h3>Офисы:</h3>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-6 contacts__offices-item">
                    <img src="assets/img/office/office-01.png" alt="Офис 1">
                    <p>Екатеринбург, ул Вайнера 60</p>
                </div>
                <div class="col-lg-3 col-md-4 col-6 contacts__offices-item">
                    <img src="assets/img/office/office-02.png" alt="Офис 2">
                    <p>Санкт-Петербург, пер. Литейный 29</p>
                </div>
                <div class="col-lg-3 col-md-4 col-6 contacts__offices-item">
                    <img src="assets/img/office/office-03.png" alt="Офис 3">
                    <p>Сочи, ул Декабристов 161/2</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.section__contacts -->