<section class="section__cost">
    <div class="container">
        <h3 class="cost__title title">Стоимость</h3>
        <div class="cost__wrap">
            <div class="row cost__block-one block-one">
                <div class="block-one__top">
                    <div class="cost__row">
                        <h2><span class="cost__bold">Тур 14 дней/13 ночей</span>, программа аюрведы на 5 дней</h2>
                        <div class="price">
                            <span class="cost__bold">700</span> евро
                        </div>
                    </div>
                    <div class="cost__row">
                        <h2><span class="cost__bold">Тур 14 дней/13 ночей</span>, программа аюрведы на 7 дней</h2>
                        <div class="price">
                            <span class="cost__bold">770</span> евро
                        </div>
                    </div>
                    <div class="cost__row">
                        <h2><span class="cost__bold">Тур 14 дней/13 ночей</span>, программа аюрведы на 12 дней</h2>
                        <div class="price">
                            <span class="cost__bold">960</span> евро
                        </div>
                    </div>
                </div>
                <div class="block-one__bottom">
                    <p>Узнайте о спецпредложении эконом-тур за 250 евро</p>
                    <button class="btn cost__btn" type="submit">узнать</button>
                </div>
            </div>
            <!-- /.cost__block-one block-one -->
            <div class="row col-lg-10 offset-lg-1 cost__block-two block-two">
                <h3 class="block-title">В стоимость включено:</h3>
                <ul class="block-list">
                    <li class="block-item">проживание двухместное в комнате "стандарт" с санузлом и горячей водой,</li>
                    <li class="block-item">питание трехразовое вегетарианское,</li>
                    <li class="block-item">йога-программа - 3 занятия йоги в день (практика и теория),</li>
                    <li class="block-item">аюрведическая программа на 5 дней, 7 дней или 12 дней, </li>
                    <li class="block-item">индивидуальный трансфер на такси из аэропорта до отеля и обратно,</li>
                    <li class="block-item">сопровождение группы русскоговорящим преподавателем </li>
                    <li class="block-item">теоретические занятия по аюрведе,</li>
                    <li class="block-item">две экскурсии</li>
                </ul>
            </div>
            <!-- /.cost__block-two block-two -->
            <div class="row col-lg-10 offset-lg-1 cost__block-three block-three">
                <h3 class="block-title">В стоимость НЕ входит:</h3>
                <ul class="block-list">
                    <li class="block-item">перелет Москва-Тируванантапурам-Москва (от 20 000 рублей)</li>
                    <li class="block-item">виза (3000 рублей)</li>
                </ul>
                <p class="block-three__text">Стоимость рассчитывается в евро из-за нестабильного курса рубля. Оплата на месте возможна в любой валюте – рубли, евро, доллары. </p>
            </div>
            <!-- /.cost__block-three block-three -->
        </div>
    </div>
</section>

<!-- /.section__cost -->