<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-1 col-md-1 col-4">
                <div class="footer__logo logo">
                    <img src="assets/img/logo.png" alt="Логотип">
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-8">
                <div class="footer__desc">
                    Все наши йога-туры на главном сайте
                    <a href="www.yogamore.ru" class="footer__desc-link">www.yogamore.ru </a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2 col-md-6 col-12">
                <div class="footer__copy">
                    <h3 class="footer__copy-name">ИП Шубина А.В</h3>
                    <p class="footer__copy-text">свидетельство о регистрации 66 №007073343 от 6&nbsp;марта 2013 года. ОГРН 313667006500023. ИНН: 665904891650</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /.footer -->