<section class="section__guarantee">
    <div class="container">
        <h3 class="guarantee__title title">Гарантия безопасности</h3>
        <p class="guarantee__text">
            Мы понимаем, что многие туристы опасаются оплачивать туры и боятся, что тур отменится. Поэтому мы сделали бронирование безопасным для вас. Чтобы забронировать место на йога-туре необходимо любым удобным способом внести аванс 6000 рублей. Оставшуюся сумму вы оплачиваете в любой валюте (рубли, евро, доллары) по прибытию в отель, после заселения. 
        </p>
        <div class="guarantee__docs">
            <h3 class="guarantee__docs-title">Вы получите полный набор документов:</h3>
            <div class="row justify-content-center guarantee__docs-wrap docs-wrap">
                <div class="col-lg-3 col-md-6 col-6 docs-wrap__item">
                    <img src="assets/img/documents/docs-01.png" alt="Документ 1">
                    <p>Договор на оказание услуг</p>
                </div>
                <div class="col-lg-3 col-md-6 col-6 docs-wrap__item">
                    <img src="assets/img/documents/docs-02.png" alt="Документ 2">
                    <p>Чек об оплате аванса</p>
                </div>
                <div class="col-lg-3 col-md-6 col-6 docs-wrap__item">
                    <img src="assets/img/documents/docs-03.png" alt="Документ 3">
                    <p>Бронь отеляг</p>
                </div>
                <div class="col-lg-3 col-md-6 col-6 docs-wrap__item">
                    <img src="assets/img/documents/docs-04.png" alt="Документ 4">
                    <p>Туристический сертификат</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.section__guarantee -->