<header class="header">
    <div class="container">
        <div class="header__top">
            <div class="row align-items-center">
                <div class="col-lg-1 col-md-6 col-3 header__logo logo">
                    <a href="index.html">
                        <img src="assets/img/logo.png" alt="Логотип">
                    </a>
                </div>
                <div class="col-lg-4 offset-lg-7 col-md-6 col-9 header__phone">
                    бесплатный звонок по России
                    <a href="tel:88005053587" class="phone-link">8 (800) 505-35-87</a>
                </div>
            </div>
        </div>
        <!-- /.header__top -->
        <div class="header__inner">
            <h1 class="header__title">
                Йога-туры в Индию
            </h1>
            <h3 class="header__subtitle">
                океан / йога / путешествия / аюрведа
            </h3>
            <p class="header__place">
                Индия, штат Керала, побережье океана
            </p>
        </div>
        <!-- /.header__inner -->
        <div class="header__button">
            <button class="header__btn popup__btn" type="submit">Подать заявку</button>
        </div>
        <!-- /.header__button -->
        <div class="header__socials">
            <a href="#" class="header__social">
                <i class="fab fa-vk"></i>
            </a>
            <a href="#" class="header__social">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="header__social">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <!-- /.header__social -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->