<section class="section__instructors">
    <div class="container">
        <h3 class="instructors__title title">Инструкторы</h3>
        <div class="row justify-content-center instructors__wrap">
            <div class="instructors__box">
                <div >
                    <img src="assets/img/instructors/instructors-01.png" alt="Юлия Ухваткина" class="instructors__img">
                </div>
                <div class="row instructors__about">
                    <div class="col-lg-5 col-md-5 col-sm-5 instructors__about-left about-left">
                        <h2 class="about-left__name">Юлия Ухваткина</h2>
                        <ul class="about-left__jobs">
                            <li>Хатха-йога</li>
                            <li>Шри-шри йога</li>
                        </ul>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 instructors__about-right about-right">
                        <p>
                            Международный индийский сертификат учителя йоги: VED VIGNAN MAHA VIDYA PEETH. <br>
                            Ежегодно проходит курсы повышения квалификации в России и в Индии. <br>
                            Переводчик с английского языка <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="instructors__box">
                <div class="">
                    <img src="assets/img/instructors/instructors-02.png" alt="Сем Джон" class="instructors__img">
                </div>
                <div class="row instructors__about">
                    <div class="col-lg-5 col-md-5 instructors__about-left about-left">
                        <h2 class="about-left__name">Сем Джон</h2>
                        <ul class="about-left__jobs">
                            <li>Индия. Шри-шри йога. </li>
                            <li>Курс «Счастье» </li>
                        </ul>
                    </div>
                    <div class="col-lg-7 col-md-7 instructors__about-right about-right">
                        <p>
                            Более 10 лет ведет тренинги по йоге по всей Индии. <br>
                            С 2009-го года преподаватель йоги международного фонда Art of living. <br>
                            Обучает пранаяме, дыхательным техникам и медитации. <br>
                            Читает лекции о теории и философии йоги. <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.section__instructors -->