<div class="popup" id="popup">
    <div class="container">
        <div class="popup__inner">
            <div class="popup__inner-close">
                <i class="fas fa-times"></i>
            </div>
            <h2 class="popup__inner-title">Подать Заявку</h2>
            <div class="popup__inner-content">
                <input type="text" name="name" id="name" placeholder="Введите ваше имя">
                <input type="text" name="phone" id="phone" placeholder="Введите телефон">
                <button type="submit">Записаться</button>
            </div>
        </div>
    </div>
</div>