<section class="section__program">
    <div class="container">
        <h3 class="program__title title">Программа</h3>
    </div>
    <div class="program__slider slider">
        <div class="slide">
            <div class="wrap">
                <div>
                    <img src="assets/img/program-slider/program-01.png" alt="1" class="img">
                </div>
                <div class="text">
                    <h2 class="caption">
                        аюрведическое лечение
                    </h2>
                    <p class="desc">
                        Всем, кто практикует йогу, рано или поздно захочется побывать в Индии - в далекой и загадочной стране, где и родилась эта наука о теле и душе.
                    </p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="wrap">
                <div>
                    <img src="assets/img/program-slider/program-02.png" alt="1" class="img">
                </div>
                <div class="text">
                    <h2 class="caption">
                        аюрведическое лечение
                    </h2>
                    <p class="desc">
                        Всем, кто практикует йогу, рано или поздно захочется побывать в Индии - в далекой и загадочной стране, где и родилась эта наука о теле и душе.
                    </p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="wrap">
                <div>
                    <img src="assets/img/program-slider/program-03.png" alt="1" class="img">
                </div>
                <div class="text">
                    <h2 class="caption">
                        аюрведическое лечение
                    </h2>
                    <p class="desc">
                        Всем, кто практикует йогу, рано или поздно захочется побывать в Индии - в далекой и загадочной стране, где и родилась эта наука о теле и душе.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.section__program -->