<section class="section__rewiews">
    <div class="container">
        <h3 class="rewiews__title title">Отзывы участников</h3>
        <div class="row align-items-center rewiews__slider">
            <div class="rewiews__slider-item slider-item">
                <div class="col-lg-2 col-md-4 col-sm-3 col-9">
                    <img src="assets/img/rewiews/rewiews-01.png" alt="Дмитрий Жигарев">
                </div>
                <div class="col-lg-8 offset-lg-1 col-9">
                    <h3 class="slider-item__name">Дмитрий <span class="surname-bold">Жигарев</span></h3>
                    <a href="vk.com/zhigarev_dmitrii" class="slider-item__social">vk.com/zhigarev_dmitrii</a>
                    <p class="slider-item__text">
                        Мне, как всегда в этой жизни везет на встречи с интересными людьми. Было очень приятно попасть в такую хорошую компанию искренних, позитивных и интересных людей. Индия классная страна… интересно было соприкоснуться с такой культурой. Иногда она шокирует, иногда вызывают улыбку и удивление, но я пожелал бы каждому побывать в этой экстраординарной стране. Я отдохнул и душой и телом. Постараюсь приехать туда еще не раз…
                    </p>
                </div>
            </div>
            <div class="rewiews__slider-item slider-item">
                <div class="col-lg-2 col-md-4 col-sm-3 col-9">
                    <img src="assets/img/rewiews/rewiews-01.png" alt="Дмитрий Жигарев">
                </div>
                <div class="col-lg-8 offset-lg-1 col-9">
                    <h3 class="slider-item__name">Дмитрий <span class="surname-bold">Жигарев</span></h3>
                    <a href="vk.com/zhigarev_dmitrii" class="slider-item__social">vk.com/zhigarev_dmitrii</a>
                    <p class="slider-item__text">
                        Мне, как всегда в этой жизни везет на встречи с интересными людьми. Было очень приятно попасть в такую хорошую компанию искренних, позитивных и интересных людей. Индия классная страна… интересно было соприкоснуться с такой культурой. Иногда она шокирует, иногда вызывают улыбку и удивление, но я пожелал бы каждому побывать в этой экстраординарной стране. Я отдохнул и душой и телом. Постараюсь приехать туда еще не раз…
                    </p>
                </div>
            </div>
            <div class="rewiews__slider-item slider-item">
                <div class="col-lg-2 col-md-4 col-sm-3 col-9">
                    <img src="assets/img/rewiews/rewiews-01.png" alt="Дмитрий Жигарев">
                </div>
                <div class="col-lg-8 offset-lg-1 col-9">
                    <h3 class="slider-item__name">Дмитрий <span class="surname-bold">Жигарев</span></h3>
                    <a href="vk.com/zhigarev_dmitrii" class="slider-item__social">vk.com/zhigarev_dmitrii</a>
                    <p class="slider-item__text">
                        Мне, как всегда в этой жизни везет на встречи с интересными людьми. Было очень приятно попасть в такую хорошую компанию искренних, позитивных и интересных людей. Индия классная страна… интересно было соприкоснуться с такой культурой. Иногда она шокирует, иногда вызывают улыбку и удивление, но я пожелал бы каждому побывать в этой экстраординарной стране. Я отдохнул и душой и телом. Постараюсь приехать туда еще не раз…
                    </p>
                </div>
            </div>
        </div>
    </div>  
</section>

<!-- /.section__rewiews -->