<section class="section__timetable">
    <div class="container">
        <h3 class="timetable__title title">
            Расписание йога-туров
        </h3>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-5 col-md-6 timetable__item">
                <div class="timetable__box">
                    <span class="timetable__date">5-18 октября</span>
                    <div class="timetable__title">"Снижение веса"</div>
                    <a href="#" class=timetable__link>Читать подробнее</a>
                    <button type="submit" class="btn timetable__btn popup__btn">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
            </div>
            <div class="col-lg-3 col-5 col-md-6 timetable__item">
                <div class="timetable__box">
                    <span class="timetable__date">5-18 октября</span>
                    <div class="timetable__title">"Снижение веса"</div>
                    <a href="#" class=timetable__link>Читать подробнее</a>
                    <button type="submit" class="btn timetable__btn popup__btn">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
            </div>
            <div class="col-lg-3 col-5 col-md-6 timetable__item">
                <div class="timetable__box">
                    <span class="timetable__date">5-18 октября</span>
                    <div class="timetable__title">"Снижение веса"</div>
                    <a href="#" class=timetable__link>Читать подробнее</a>
                    <button type="submit" class="btn timetable__btn popup__btn">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
            </div>
            <div class="col-lg-3 col-5 col-md-6 timetable__item">
                <div class="timetable__box">
                    <span class="timetable__date">5-18 октября</span>
                    <div class="timetable__title">"Снижение веса"</div>
                    <a href="#" class=timetable__link>Читать подробнее</a>
                    <button type="submit" class="btn timetable__btn popup__btn">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
            </div>
            <div class="col-lg-3 col-5 col-md-6 timetable__item">
                <div class="timetable__box">
                    <span class="timetable__date">5-18 октября</span>
                    <div class="timetable__title">"Снижение веса"</div>
                    <a href="#" class=timetable__link>Читать подробнее</a>
                    <button type="submit" class="btn timetable__btn popup__btn">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
            </div>
            <div class="col-lg-3 col-5 col-md-6 timetable__item">
                <div class="timetable__box">
                    <span class="timetable__date">5-18 октября</span>
                    <div class="timetable__title">"Снижение веса"</div>
                    <a href="#" class=timetable__link>Читать подробнее</a>
                    <button type="submit" class="btn timetable__btn popup__btn">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
            </div>
            <div class="col-lg-3 col-5 col-md-6 timetable__item">
                <div class="timetable__box">
                    <span class="timetable__date">5-18 октября</span>
                    <div class="timetable__title">"Снижение веса"</div>
                    <a href="#" class=timetable__link>Читать подробнее</a>
                    <button type="submit" class="btn timetable__btn popup__btn">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
            </div>
            <div class="col-lg-3 col-5 col-md-6 timetable__item">
                <div class="timetable__box">
                    <span class="timetable__date">5-18 октября</span>
                    <div class="timetable__title">"Снижение веса"</div>
                    <a href="#" class=timetable__link>Читать подробнее</a>
                    <button type="submit" class="btn timetable__btn popup__btn">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.section__timetable -->