<section class="section__tour">
    <div class="container">
        <div class="row justify-content-center tour__inner">
            <div class="col-lg-6 col-md-7 col-12 tour__img">
                <img src="assets/img/tour/tour-01.png" alt="Тур">
            </div>
            <div class="col-lg-6 col-md-6 col-10 tour__content">
                <h3 class="tour__title">Что такое<span>йога-тур?</span>
                </h3>
                <div class="tour__desc">
                    Йога-тур – это новый вид туризма, когда с путешествием в другую страну сочетаются занятия по йоге. Вы отдыхаете на море, посещаете интересные места, несколько раз в день занимаетесь йогой и проводите отпуск в интересной компании. Теперь отдых стал интересным и полезным для тела и души.
                </div>
                <div class="tour__icons">
                    <div class="tour__box">
                        <img src="assets/img/tour/icons/icon-01.png" alt="Йога">
                        йога
                    </div>
                    <div class="tour__box">
                        <img src="assets/img/tour/icons/icon-02.png" alt="Море">
                        море
                    </div>
                    <div class="tour__box">
                        <img src="assets/img/tour/icons/icon-03.png" alt="Путешествие">
                        путешествие
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /.section__tour-->