<section class="section__travel">
    <div class="container">
        <h3 class="travel__title title">
            Что меня ждет в путешествии?
        </h3>
    </div>
    <div class="travel__slider slider">
        <div class="slide">
            <div class="wrap">
                <div>
                    <img src="assets/img/travel-slider/travel-01.png" alt="1" class="img">
                </div>
                <div class="text">
                    <h2 class="caption">
                        аюрведическое лечение
                    </h2>
                    <p class="desc">
                        Всем, кто практикует йогу, рано или поздно захочется побывать в Индии - в далекой и загадочной стране, где и родилась эта наука о теле и душе.
                    </p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="wrap">
                <div>
                    <img src="assets/img/travel-slider/travel-02.png" alt="1" class="img">
                </div>
                <div class="text">
                    <h2 class="caption">
                        аюрведическое лечение
                    </h2>
                    <p class="desc">
                        Всем, кто практикует йогу, рано или поздно захочется побывать в Индии - в далекой и загадочной стране, где и родилась эта наука о теле и душе.
                    </p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="wrap">
                <div>
                    <img src="assets/img/travel-slider/travel-03.png" alt="1" class="img">
                </div>
                <div class="text">
                    <h2 class="caption">
                        аюрведическое лечение
                    </h2>
                    <p class="desc">
                        Всем, кто практикует йогу, рано или поздно захочется побывать в Индии - в далекой и загадочной стране, где и родилась эта наука о теле и душе.
                    </p>
                </div>
            </div>
        </div>
    </div>    
</section>

<!-- /.section__travel -->