<section class="section__works">
    <div class="container">
        <h3 class="works__title title">Как мы работаем</h3>
        <p class="works__subtitle">Возможно оформление йога-тура дистанционно из любого города</p>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-6 col-6 works__item">
                <img src="assets/img/works/works-01.png" alt="01" class="works__item-img">
                <p class="works__item-text">
                    Вы оставляете заявку
                    <a class="send-request" href="#">Отправить заявку</a>
                </p>
            </div>
            <div class="col-lg-2 col-md-6 col-6 works__item">
                <img src="assets/img/works/works-02.png" alt="02" class="works__item-img">
                <p class="works__item-text">
                    Мы связываемся с вами
                </p>
            </div>
            <div class="col-lg-2 col-md-6 col-6 works__item">
                <img src="assets/img/works/works-03.png" alt="03" class="works__item-img">
                <p class="works__item-text">
                    Подписываем договор и оформляем документы
                </p>
            </div>
            <div class="col-lg-2 col-md-6 col-6 works__item">
                <img src="assets/img/works/works-04.png" alt="04" class="works__item-img">
                <p class="works__item-text">
                    Вы оплачиваете аванс 6 000 рублей в банке
                </p>
            </div>
            <div class="col-lg-2 col-md-6 col-6 works__item">
                <img src="assets/img/works/works-05.png" alt="05" class="works__item-img">
                <p class="works__item-text">
                    Покупаете билеты и оформляете визу (возможно через нас)
                </p>
            </div>
            <div class="col-lg-2 col-md-6 col-6 works__item">
                <img src="assets/img/works/works-06.png" alt="06" class="works__item-img">
                <p class="works__item-text">
                    Вас встречают в аэропорту Тривандрум с табличкой
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /.section__works -->