$white: #fff;
$black: #000;
$orange: #db883c;
$orange-darken: #e28234;
$bg-section: #f8f2e4;
$grey: #b4b4b4;

$font-def: 'Muller Regular';
$font-muller-bold: 'Muller Bold';
$font-muller-light: 'Muller Light';
$font-muller-medium: 'Muller Medium';